<a href="https://colab.research.google.com/github/Sandrabindhu/AI-Artificial-Intelligence-Concepts-and-Applications/blob/main/Create_Dataset_23_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a dataset column name are : Machine ID, Viberation, Temperature, Machine type, Failure. Then printing it then we have to find missing values.
# Only Machine type is Categorical and all others are numerical

import pandas as pd
import numpy as np

data = {
    'Machine ID': [101, 102, 103, 104, 105],
    'Viberation': [0.45, 0.67, np.nan, 0.55, 0.60],
    'Temperature': [75.0, 80.5, 78.2, np.nan, 77.0],
    'Machine type': ['A', 'B', 'A', 'C', np.nan],
    'Failure': [0, 1, 0, 1, 0]
}

df = pd.DataFrame(data)
print("Dataset:\n")
df

Dataset:

   Machine ID  Viberation  Temperature Machine type  Failure
0         101        0.45         75.0            A        0
1         102        0.67         80.5            B        1
2         103         NaN         78.2            A        0
3         104        0.55          NaN            C        1
4         105        0.60         77.0          NaN        0

In [ ]:
# To Find missing value:
df.isnull().sum()

Machine ID      0
Viberation      1
Temperature     1
Machine type    1
Failure         0
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [ ]:
data = {
    'Machine ID': [1, 2, 3, 4, 5],
    'Vibration': [0.45, 0.67, np.nan, 0.55, 0.60],
    'Temperature': [70, 85, np.nan, 200, 75],
    'Machine type': ['A', 'B', 'A', 'C', 'B'],
    'Failure': [0, 1, 0, 1, 0]
}

df = pd.DataFrame(data)
print("Raw Data:\n", df)

Raw Data:
    Machine ID  Vibration  Temperature Machine type  Failure
0           1       0.45         70.0            A        0
1           2       0.67         85.0            B        1
2           3        NaN          NaN            A        0
3           4       0.55        200.0            C        1
4           5       0.60         75.0            B        0

In [ ]:
# Step 2: Handle Missing Values
imputer = SimpleImputer(strategy='mean')# median most_frequent constant #df['Temperature'].fillna(df['Temperature'].mean())

df[['Temperature', 'Vibration']]=imputer.fit_transform(df[['Temperature', 'Vibration']])
print("\n After Missing Value Imputation:\n", df)

 After Missing Value Imputation:
    Machine ID  Vibration  Temperature Machine type  Failure
0           1     0.4500         70.0            A        0
1           2     0.6700         85.0            B        1
2           3     0.5675        107.5            A        0
3           4     0.5500        200.0            C        1
4           5     0.6000         75.0            B        0

In [ ]:
# Step 3: Handle Outliers(Z-score method)
z_scores=np.abs((df[['Temperature', 'Vibration']]-df[['Temperature', 'Vibration']].mean()) /df[['Temperature', 'Vibration']].std())
df[['Temperature', 'Vibration']] = np.where(z_scores > 3, df[['Temperature', 'Vibration']].median(), df[['Temperature', 'Vibration']])
print("After Outlier Treatment: ",df)

After Outlier Treatment:     Machine ID  Vibration  Temperature Machine type  Failure
0           1     0.4500         70.0            A        0
1           2     0.6700         85.0            B        1
2           3     0.5675        107.5            A        0
3           4     0.5500        200.0            C        1
4           5     0.6000         75.0            B        0

In [ ]:
# Step 4: Scaling Numerical Data
scaler = StandardScaler()
df[['Temperature','Vibration']] = scaler.fit_transform(df[['Temperature','Vibration']])
print("\n After Scaling:\n", df)

 After Scaling:
    Machine ID  Vibration  Temperature Machine type  Failure
0           1  -1.639712    -0.781081            A        0
1           2   1.430387    -0.468648            B        1
2           3   0.000000     0.000000            A        0
3           4  -0.244212     1.926665            C        1
4           5   0.453537    -0.676936            B        0

In [ ]:
# Step 5: Encode Categorical Data
encoder = OneHotEncoder(sparse=False, drop='first') # drop first to avoid dummy trap
encoded = encoder.fit_transform(df[['Machine_Type']])
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['Machine_Type']))

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [ ]:
# Merge encoded with main df
df_final = pd.concat([df.drop('Machine_Type', axis=1), encoded_df], axis=1)
print("\n Final Preprocessed Data:\n", df_final)

KeyError: "['Machine_Type'] not found in axis"

In [ ]:
# Step 6: Split Data into Train & Test
X = df_final.drop('Failure', axis=1)
y = df_final['Failure']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print("\n Training Features:\n", X_train)
print("\n Test Features:\n", X_test)
print("\n Training Labels:\n", y_train)
print("\n Test Labels:\n", y_test)

NameError: name 'df_final' is not defined